@charset "UTF-8";
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f4f8 !important;
}

button.primaryaction {
  background-color: #4056a1;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  border: none;
  outline: none;
}
button.deleteaction {
  background-color: #ff331f;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  border: none;
  outline: none;
}
button.successaction {
  background-color: #00a86b;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  border: none;
  outline: none;
}
button.secondaryaction {
  background-color: #ccc;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  border: none;
  outline: none;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
}
@media only screen and (min-width: 1500px) {
  section {
    padding: 20px 12vw;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1499px) {
  section {
    padding: 20px 5vw;
  }
}
section h2 {
  margin: 50px auto;
  color: #030303;
}
section h2.header-title {
  margin: 50px auto 10px auto;
  color: #030303;
}
section h5 {
  margin: 0 auto 40px auto;
  color: #62717c;
}

.modal {
  display: none; /* Başlangıçta gizli */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}
.modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content button {
  margin-top: 10px;
  cursor: pointer;
}

.addrow {
  display: flex;
  flex-direction: row;
  background-color: #4056a1;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  align-items: center;
  gap: 12px;
  border: none;
  cursor: pointer;
}
.addrow p,
.addrow svg {
  color: white;
  margin: 0;
}

#addDataContainer form,
.form-container {
  display: flex;
  flex-direction: column;
}
#addDataContainer form .inputGroup,
.form-container .inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#addDataContainer form .inputGroup label,
.form-container .inputGroup label {
  margin-bottom: 6px;
  color: #2d2f31;
}
#addDataContainer form .inputGroup input,
#addDataContainer form .inputGroup select,
.form-container .inputGroup input,
.form-container .inputGroup select {
  margin-bottom: 14px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
}
#addDataContainer form button:last-of-type,
.form-container button:last-of-type {
  background-color: #4056a1;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  border: none;
  outline: none;
}

#roleEditModal .modal-content h2, #changeBranchModal .modal-content h2 {
  margin-bottom: 20px;
  color: #2d2f31;
}
#roleEditModal .modal-content form, #changeBranchModal .modal-content form {
  display: flex;
  flex-direction: column;
}
#roleEditModal .modal-content form div, #changeBranchModal .modal-content form div {
  margin-bottom: 10px;
}
#roleEditModal .modal-content form div select, #changeBranchModal .modal-content form div select {
  margin-top: 10px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
}
#roleEditModal .modal-content form button, #changeBranchModal .modal-content form button {
  background-color: #4056a1;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  border: none;
  outline: none;
}

@media only screen and (min-width: 600px) {
  aside {
    height: 100vh;
    background-color: #2d2f31;
    width: 250px;
    position: fixed;
    transition: width 0.4s ease;
  }
  aside #aside_head {
    padding-top: 10px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    -moz-column-gap: 20px;
    column-gap: 20px;
    text-decoration: none;
  }
  aside #aside_head img {
    width: 60px;
  }
  aside #aside_head p {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 26px;
  }
  aside ul {
    list-style: none;
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
  aside ul li {
    margin: 10px 0;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.3s;
  }
  aside ul li .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  aside ul li .link-container p,
  aside ul li .link-container svg {
    margin: 0;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.4s ease;
  }
  aside ul li .link-container p {
    font-weight: 500;
  }
  aside ul li .link-container svg {
    width: 26px;
  }
  aside ul li.active {
    background-color: rgba(255, 255, 255, 0.2666666667);
  }
  aside ul li.active svg,
  aside ul li.active p {
    color: #fff;
  }
  aside ul li.has-menu .content {
    display: flex;
    align-items: center;
  }
  aside ul li.has-menu .content .sub-menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  aside ul li.has-menu .content .sub-menu-header p,
  aside ul li.has-menu .content .sub-menu-header svg {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    margin: 0;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.4s ease;
  }
  aside ul li.has-menu .content .sub-menu-header p {
    font-weight: 500;
  }
  aside ul li.has-menu .content .sub-menu-header svg {
    width: 26px;
  }
  aside ul li.has-menu .content svg {
    color: rgba(255, 255, 255, 0.8);
  }
  aside ul li.has-menu:hover {
    background-color: rgba(255, 255, 255, 0.2666666667) !important;
  }
  aside ul li.has-menu .sub-menu {
    margin-top: 10px;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
  }
  aside ul li.has-menu .sub-menu li {
    margin: 0;
    padding: 0;
  }
  aside ul li.has-menu .sub-menu li a {
    padding: 6px 8px;
    border-radius: 8px;
  }
  aside ul li.has-menu .sub-menu li a p {
    color: #000;
    font-size: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  aside ul li.has-menu .sub-menu li a:hover {
    background-color: rgba(170, 170, 170, 0.2666666667);
  }
  aside ul li.has-menu:hover {
    background-color: transparent;
  }
  aside ul li:hover {
    background-color: rgba(255, 255, 255, 0.2666666667);
  }
  aside.mini-show {
    width: 80px;
  }
  aside.mini-show #aside_head {
    padding-left: 0;
    margin: 0 10px;
  }
  aside.mini-show #aside_head p {
    display: none;
  }
  aside.mini-show ul {
    padding-left: 0;
    padding-right: 0;
  }
  aside.mini-show ul li {
    margin: 10px;
  }
  aside.mini-show ul li a {
    align-items: center;
  }
  aside.mini-show ul li a p {
    display: none;
  }
  aside.mini-show ul li a svg {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 26px;
    padding: 6px;
  }
  aside.mini-show ul li.has-menu .content {
    align-items: center;
  }
  aside.mini-show ul li.has-menu .content p {
    display: none;
  }
  aside.mini-show ul li.has-menu .content svg {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 26px;
  }
  aside.mini-show ul li.has-menu .content svg:last-child {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  header {
    width: calc(100vw - 250px);
    margin-left: 250px;
    height: 62px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    transition: all 0.4s ease;
    position: fixed;
  }
  header #header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  header #header-left svg {
    width: 40px;
    font-size: 26px;
    height: 40px;
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #030303;
  }
  header #header-left input {
    padding: 8px 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
  }
  header #header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  header #header-right #notficiationsbtn {
    width: 40px;
    font-size: 26px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    color: #030303;
    border-radius: 6px;
    position: relative;
  }
  header #header-right #notficiationsbtn:hover {
    background-color: rgba(170, 170, 170, 0.2666666667);
  }
  header #header-right #notficiationsbtn.hasnot::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    background-color: #ff331f;
  }
  header #header-right #user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 12px;
    cursor: pointer;
    width: 200px;
  }
  header #header-right #user-data img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
  header #header-right #user-data p {
    margin: 0;
  }
  header #notficiations-menu {
    position: absolute;
    top: 62px;
    right: 220px;
    background-color: #fff;
    border-radius: 12px;
    width: 320px;
    display: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: 5;
  }
  header #notficiations-menu .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #2d2f31;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  header #notficiations-menu .header p.title {
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  header #notficiations-menu .header p.new {
    background-color: #fff;
    color: #4056a1;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 0;
  }
  header #notficiations-menu .content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  header #notficiations-menu .content .alert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  header #notficiations-menu .content .alert svg {
    width: 36px;
    height: 36px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header #notficiations-menu .content .alert svg.settings-alert {
    background-color: #ddffff;
    color: #4056a1;
  }
  header #notficiations-menu .content .alert svg.message-alert {
    background-color: #fde8e4;
    color: #ff331f;
  }
  header #notficiations-menu .content .alert .alert-content {
    width: calc(100% - 50px);
  }
  header #notficiations-menu .content .alert .alert-content p.message {
    margin-bottom: 0;
  }
  header #notficiations-menu .content .alert .alert-content p.time {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0;
    color: #62717c;
  }
  header #notficiations-menu .content .alert .alert-content p.time i {
    font-size: 16px;
    width: 20px;
  }
  header #notficiations-menu .content .seeall {
    margin: 10px auto;
    background-color: #2d2f31;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 6px 12px;
  }
  header #notficiations-menu .content .seeall i {
    margin-left: 6px;
  }
  header #profile-menu {
    position: absolute;
    top: 62px;
    right: 20px;
    background-color: #fff;
    border-radius: 12px;
    width: 320px;
    display: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: 5;
  }
  header #profile-menu .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #2d2f31;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  header #profile-menu .header p.title {
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  header #profile-menu .content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  header #profile-menu .content a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
  }
  header #profile-menu .content a svg {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddffff;
    color: #4056a1;
  }
  header #profile-menu .content a p {
    color: #030303;
    margin: 0;
    font-weight: 500;
  }
  header #profile-menu .content a.logout svg {
    background-color: #fbdbe1;
    color: #ff331f;
  }
  header #profile-menu .content a.logout p {
    color: #ff331f;
  }
  header #profile-menu .content a:hover {
    background-color: rgba(170, 170, 170, 0.2666666667);
  }
  header.show-more {
    width: calc(100vw - 80px);
    margin-left: 80px;
  }
}
@media only screen and (min-width: 600px) {
  table {
    background-color: #fff;
    padding: 10px !important;
    border-radius: 10px;
    width: 100%;
  }
  table td,
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  table td:first-child,
  table th:first-child {
    padding-left: 12px;
    padding-right: 12px;
    width: 70px;
    text-align: center;
  }
  table td:last-child,
  table th:last-child {
    padding-left: 12px;
    padding-right: 12px;
    width: 168px;
    text-align: center;
  }
  table td:last-child button,
  table th:last-child button {
    margin: 0 4px;
  }
  table thead tr {
    border-bottom: 2px solid #ccc;
  }
  table thead tr td {
    text-align: left;
  }
  table thead tr td input {
    margin-left: 8px;
    border: none;
    outline: none;
    width: calc(100% - 40px);
  }
  table thead tr th {
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
  }
  table tbody tr td {
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
  }
  table tbody tr td button {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
  }
  table tbody tr td button:hover {
    background-color: rgba(170, 170, 170, 0.2666666667);
  }
  table tbody tr td button.delete svg, table tbody tr td button.delete i {
    color: #ff331f;
  }
  table tbody tr td button.primary svg, table tbody tr td button.primary i {
    color: #4056a1;
  }
  table tbody tr td button.edit svg, table tbody tr td button.edit i {
    color: #f06548;
  }
  table tbody tr td.actions {
    position: relative;
    transition: all 0.3s ease;
  }
  table tbody tr td.actions .fa-chevron-down, table tbody tr td.actions .fa-chevron-up {
    font-size: 12px;
  }
  table tbody tr td.actions .sub-menu {
    list-style: none;
    position: absolute;
    right: 0;
    padding: 0 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    z-index: 5;
    display: none;
  }
  table tbody tr td.actions .sub-menu li {
    margin: 6px 0;
    border-radius: 6px;
  }
  table tbody tr td.actions .sub-menu li a {
    gap: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    padding: 2px 12px;
  }
  table tbody tr td.actions .sub-menu li a p {
    margin: 0;
    color: #222;
  }
  table tbody tr td.actions .sub-menu li a i.fa-trash {
    color: #ff331f;
  }
  table tbody tr td.actions .sub-menu li a i.fa-pen {
    color: #f06548;
  }
  table tbody tr td.actions .sub-menu li a i.fa-search {
    color: #4056a1;
  }
  table tbody tr td.actions .sub-menu li:hover {
    background-color: rgba(170, 170, 170, 0.2666666667);
  }
  table tbody tr td.actions:hover {
    background-color: rgba(170, 170, 170, 0.2666666667);
  }
  table tbody tr:hover {
    cursor: pointer;
    background-color: rgba(170, 170, 170, 0.2666666667);
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .pagination a {
    color: #333;
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
  }
  .pagination a:hover, .pagination a.active {
    background-color: #2d2f31;
    color: #fff;
  }
  .pagination .prev,
  .pagination .next {
    font-weight: bold;
  }
  .pagination .disabled {
    color: #aaa;
    pointer-events: none;
  }
  .addrow {
    margin-top: 15px;
    width: -moz-fit-content;
    width: fit-content;
    align-self: flex-end;
  }
}
@media only screen and (min-width: 600px) {
  #content {
    width: calc(100% - 250px);
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    padding: 82px 20px 10px 20px;
    transition: all 0.4s ease;
  }
  #content.show-more {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
}/*# sourceMappingURL=management.css.map */